
body{
  background-color:#33C1FF;
}
#wrapper{
  margin: 9% auto 12% auto;
  width: 732px;
  position: relative;
  border: 2px solid grey;
}

div .row_wrapper{
  height: 104px;

}
div .row_wrapper div{
   cursor: pointer;
  border: 2px solid grey;
  border-radius: 50%;
  float: left;
  background-color: white;
}
