body{
  margin:0;
  padding: 0;
  background-color:grey;
}
.wrapper{
  margin:8px auto 6px;
  width: 732px;
  position: relative;
  /*border: 2px solid black;*/
}
.board_wrapper{
  height: 624px;
  /*border: 2px solid black;*/
}
div .row_wrapper{
  height: 104px;

}
div .row_wrapper div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;
  background-color: white;
}
.canvas{
   border-radius: 50%;
   color:red;
}
